/* 
==================================
GLOBAL CSS
==================================

==================================
FONT-FAMILY
==================================
*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  /* 
==================================
COLOR
==================================
*/

  /******** grey /********/
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /******** blue /********/
  /* light */
  --blue-light-50: #eef1fa;
  --blue-light-100: #dce2f4;
  --blue-light-200: #cbd4ef;
  --blue-light-300: #b9c5e9;
  --blue-light-400: #a8b7e4;
  --blue-light-500: #97a8de;
  --blue-light-600: #859ad9;
  --blue-light-700: #748bd3;
  --blue-light-800: #627dce;
  --blue-light-900: #516ec8;
  /* dark */
  --blue-dark-50: #4963b4;
  --blue-dark-100: #4158a0;
  --blue-dark-200: #394d8c;
  --blue-dark-300: #314278;
  --blue-dark-400: #293764;
  --blue-dark-500: #202c50;
  --blue-dark-600: #18213c;
  --blue-dark-700: #101628;
  /******** purple /********/
  /* light */
  --purple-light-50: #f8edf5;
  --purple-light-100: #f2daea;
  --purple-light-200: #ebc8e0;
  --purple-light-300: #e5b5d6;
  --purple-light-400: #dea3cc;
  --purple-light-500: #d791c1;
  --purple-light-600: #d17eb7;
  --purple-light-700: #ca6cad;
  --purple-light-800: #c459a2;
  --purple-light-900: #bd4798;
  /* dark */
  --purple-dark-50: #aa4089;
  --purple-dark-100: #97397a;
  --purple-dark-200: #84326a;
  --purple-dark-300: #712b5b;
  --purple-dark-400: #5f244c;
  --purple-dark-500: #4c1c3d;
  --purple-dark-600: #39152e;
  --purple-dark-700: #260e1e;
  /******** green /********/
  /* light */
  --green-light-50: #eefaef;
  --green-light-100: #dcf4df;
  --green-light-200: #cbefcf;
  --green-light-300: #b9e9bf;
  --green-light-400: #a8e4af;
  --green-light-500: #97de9f;
  --green-light-600: #85d98f;
  --green-light-700: #74d37f;
  --green-light-800: #62ce6f;
  --green-light-900: #51c85f;
  /* dark */
  --green-dark-50: #49b456;
  --green-dark-100: #41a04c;
  --green-dark-200: #398c43;
  --green-dark-300: #317839;
  --green-dark-400: #296430;
  --green-dark-500: #205026;
  --green-dark-600: #183c1d;
  --green-dark-700: #102813;
  /******** red /********/
  /* light */
  --red-light-50: #faeeee;
  --red-light-100: #f4dcdc;
  --red-light-200: #efcbcb;
  --red-light-300: #e9b9b9;
  --red-light-400: #e4a8a8;
  --red-light-500: #de9797;
  --red-light-600: #d98585;
  --red-light-700: #d37474;
  --red-light-800: #ce6262;
  --red-light-900: #c85151;
  /* dark */
  --red-dark-50: #b44949;
  --red-dark-100: #a04141;
  --red-dark-200: #8c3939;
  --red-dark-300: #783131;
  --red-dark-400: #642929;
  --red-dark-500: #502020;
  --red-dark-600: #3c1818;
  --red-dark-700: #281010;

  /******** background /********/
  --grey-background: rgb(244, 244, 244);

  /******** box shadow /********/
  --shadow-50: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-100: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --favorite-shadow-200: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-300: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadow-fancy: rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

/* 
==================================
SELECTORS
==================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--blue-light-50);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

h1 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 500;
}

h2,
p {
  letter-spacing: 1px;
}

.btn {
  width: 100px;
  border-radius: 5px;
  border: 1px solid;
  text-transform: capitalize;
  font-weight: 200;
  letter-spacing: 1px;
  cursor: pointer;
}
/* 
==================================
PROJECT CSS
==================================

==================================
NAVBAR
==================================
*/

body {
  background-color: rgb(99, 102, 241);
}
nav {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-menu {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.icon-menu {
  border: 1px solid #fff;
  padding: 0.3rem;
  background: #fff;
  border-radius: 5px;
  font-size: 2rem;
  color: rgb(99, 102, 241);
  transition: 0.5s;
}

.icon-menu:hover {
  transform: scale(1.1);
}

.nav-links {
  display: none;
}

@media screen and (min-width: 730px) {
  .navbar {
    align-self: stretch;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .btn-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-self: stretch;
  }

  .nav-link {
    padding: 0 1rem;
    color: #fff;
    background: transparent;
    border-color: transparent;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
  }
}

/* 
==================================
HERO
==================================
*/

.hero-container {
  height: calc(100vh - 5rem);
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

.hero {
  width: 90vw;
  max-width: 100vw;
}

.hero h1,
.hero p {
  color: #fff;
}

.hero h1 {
  padding: 1rem 0;
  font-family: 'Merriweather Sans', serif;
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: bolder;
  letter-spacing: 3px;
}

.hero p {
  font-family: 'Bebas Neue', serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

@media screen and (min-width: 730px) {
  .hero {
    text-align: center;
  }
  .hero p {
    text-align: center;
    font-size: 1.35em;
  }
}

/* 
==================================
SIDEBAR
==================================
*/

.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
  opacity: 0;
  visibility: hidden;
}

.show-sidebar {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 1s;
}

.sublink {
  margin-bottom: 2rem;
}

.sublink h4 {
  margin-bottom: 1rem;
  font-family: 'Merriweather Sans', serif;
  color: #4338ca;
  font-size: 1.5rem;
  font-weight: bold;

  letter-spacing: 2px;
}

.sublink a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Merriweather Sans', serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--grey-700);
}

.sublink svg {
  color: #4338ca;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

.btn-sidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.icon-sidebar {
  font-size: 1.5rem;
  color: red;
}

@media screen and (min-width: 730px) {
  .sidebar {
    display: none;
  }
}

/* 
==================================
SUBMENU
==================================
*/

.submenu {
  display: none;
}

@media screen and (min-width: 730px) {
  .submenu {
    display: block;
    position: fixed;
    top: 7rem;
    left: 50%;
    width: 90vw;
    max-width: 100vw;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top;
    perspective: 1000px;
    /* toggle stuff */
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    z-index: -1;
  }

  .show-submenu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg) translateX(-50%);
    z-index: 10;
  }
  .show-submenu h5 {
    margin-bottom: 1rem;
    font-family: 'Merriweather Sans', serif;
    color: #4338ca;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  .submenu-links {
    display: grid;
    row-gap: 0.5rem;
  }
  .submenu-links a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Merriweather Sans', serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--grey-700);
  }

  .submenu-links svg {
    color: #4338ca;
  }
}
